<div style="padding: 30px 0; text-align: start; font-family: Arial; color: #fff;">
  <p>
    <h3>Dear <%= userName %>,</h3><br>
    We're thrilled to have you join our vibrant community of social media enthusiasts.<br>
    Get ready to embark on an exciting journey where you can connect with friends, discover inspiring content, and engage with like-minded individuals.<br>
    <br>
    Gumzo Social is all about fostering meaningful connections and sparking conversations
    <br>
    Whether you're a passionate storyteller, a curious explorer, or a trendsetter, this is the perfect place for you to express yourself and share your thoughts with the world.
    <br>
    To get started, simply click the button below to verify your account:<br>
    <br>
    <a href="http://localhost:5002/login/<%= userName %>" style="display: inline-block; padding: 10px 20px; background-color: #3498db; color: #fff; text-decoration: none; border-radius: 5px;">Verify Account</a><br>
    <br>
    If you have any questions or need assistance, our support team is always here to help.<br>
    Karibu Gumzo Social!<br>
    <br>
    Karibu!,<br>
    Gumzo Social Team
  </p>
</div>
